[Unit]
Description=Loging stuf
After=network.target

[Service]
PIDFile=/root/moon/pid
ExecStart=/usr/bin/python2 /usr/bin/moon.py /root/moon/moon.cfg start &> /dev/null &
ExecStop=/usr/bin/python2 /usr/bin/moon.py /root/moon/moon.cfg stop & /dev/null &

[Install]
WantedBy=multi-user.target
